---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: {{ tag }}
permalink: /tags/{{ tag | slugify }}/
---
<h1>{{ tag }}</h1>

{% set postslist = collections[ tag ] %}
<div id="items">
    {% for post in postslist %}
    {% include "card.njk" %}
    {% endfor %}
</div>

{# {% include "postslist.njk" %}

<h3><a href="{{ '/tags/' | url }}">all tags</a></h3> #}
