---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>
  freshly brewed
  <span class="right"><a href="{{ '/posts/' | url }}">all posts</a></span>
</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}

<div id="items">
    {% for post in postslist | reverse %}
    {% include "card.njk" %}
    {% endfor %}
</div>

{# {% include "postslist.njk" %} #}
<div style="text-align:center">
  <h3><a href="{{ '/tags/' | url }}">view by tags</a></h3>
</div>
