---
permalink: /tags/
layout: layouts/home.njk
---
<h1>all tags</h1>

<div id="items">
  {% for tag in collections.tagList %}
    {% include "card-tag.njk" %}
    {# <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a> #}
  {% endfor %}
</div>
