{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<article class="card">
    <a href="{{ tagUrl | url }}">
        <div class="card_content">
            <img class="card_symbol" src="/img/cards/clover.svg" alt="">
            <h2>{{ tag }}</h2>
        </div>
    </a>
</article>
